/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.region-imagen-cabecera {
	text-align: center;
	padding-bottom: 36px;
	padding-top: 20px;
	border-bottom: 7px solid #eb047c;
}